// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "cargando";
@import "login";
@import "index";
#logo {
    width: 35px;
    margin-top: -10px;
    position: absolute;
    margin-left: -40px;
}

#menu {
    display: none;
}

a.tarjeta:hover {
    background: #895dc094;
    border-radius: 5%;
    padding: 10px;
}


/* make sidebar nav vertical */

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}